<mdb-navbar SideClass="navbar navbar-expand-lg navbar-dark indigo justify-content-between">
    <mdb-navbar-brand>
        <a class="navbar-brand" href="">esalaflora.com</a>
    </mdb-navbar-brand>
    <links>
        <form class="form-inline waves-light waves-light ml-auto" mdbWavesEffect>
        <div class="md-form mt-0">
            <input class="form-control mr-sm-2" type="text" placeholder="Search" aria-label="Search">
            <button mdbBtn color="success" outline="true" size="sm" class="my-0 waves-light" type="submit" mdbWavesEffect>Search</button>
        </div>
        </form>
    </links>
</mdb-navbar>